<div id="home">
  <!--wrapper div-->
  <!--nav bar begins-->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Nashville Hot Chicken Adventure</a>
    <div class="float-right">

      <form method="get" action="/login.html">
          <button type="submit">Login</button>
      </form>
    


    </div>
  </nav>
  <!--nav bar ends-->
  <br>
  <!--Jumbotron begins-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nashville Hot Chicken Adventure</h1>
      <p class="lead"> Explore the Hot Chicken that Nashville made famous.</p>
    </div>
  </div>
  <!--jumbotron ends-->
  <br>
  <div class="container">

    <div class="row">
      <div class="leftDiv col-md-5">
        <h4>
          Hot Chicken History:
        </h4>
        <P></P>
        <p>Rumor has it back in the 1930s, a womanizer named Thornton Prince was served a heaping dose of fried chicken
          loaded with hot pepper by his lady as punishment. She made the spicy chicken dish hoping he would react in
          pain. Instead, her plan backfired. Mr. Prince actually liked the chicken so much that he requested more and
          decided to open a chicken shack, which is known today as Prince’s Hot Chicken Shack.</p>
        <h4>
          About us:
        </h4>
        <p>
          Nashville Hot Chicken Adventure is an interactive web application allowing users to eat their way through Nashville’s best hot chicken establishments. Users can create an account to track and map their progress in conquering the hottest of chickens.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div id="map" class="rightDiv col-md-6">Right div/google map api</div>

    </div>
    <hr>


    <div id="footer" class="row">
      <div class="col-sm">
        Leaderboard
      </div>
      <div class="col-md-1"></div>
      <div class="col-sm">
        List Of Restaurants
        <ul id="restaurantList">
        </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-sm">
        Most Visted
      </div>
    </div>
  </div>
</div>

        <div id="friendModal" class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Compatible Comrade:</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="rating">How Many Stars?</label>
                          <select class="form-control" id="rating">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="review">Leave A Review!</label>
                          <textarea class="form-control" id="review" rows="3"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit" id="formSubmit">
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlvtGw-YfxOxxW25dR75AvuXab30kqYvo&callback=initMap"></script>
<script src="/js/index.js"></script>
<script src="js/render.js"></script>