<div id="home">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>
  <div class= toptwo>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="leftDiv col-md-4">left div/about us/general info</div>
    <div class="col-md-1"></div>
    <div id="map" class="rightDiv col-md-4">Right div/google map api</div>
    <div class="col-md-1"></div>
</div>
    <hr>


    <div class="container">
      <div class="row">
        <div class="col-sm">
          Leaderboard
        </div>
        <div class="col-md-1"></div>
        <div class="col-sm">
          Best Reviews
        </div>
        <div class="col-md-1"></div>
        <div class="col-sm">
          Most Visted
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlvtGw-YfxOxxW25dR75AvuXab30kqYvo&callback=initMap">
    </script>