<!--nav bar begins-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Nashville Hot Chicken Adventure</a>
  <div class="float-right">
    <button class="float-left btn btn-dark" id="btn-left"><a href="/">Home</a></button>
    <button class="float-left btn btn-dark" id="btn-left"><a href="/user">Log In</a></button>
    <button class="float-left btn btn-dark" id="btn-left"><a href="/">Log Out</a></button>
  </div>
</nav>

<div class="progress">
  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="userInfo">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Restaurant Name</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pollo Loco</td>
        <td>04/05/2016</td>
        <td>4</td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Pollo Rico</td>
        <td>05/05/2019</td>
        <td>5</td>
        <td><input type="checkbox"></td>
      </tr>
    </tbody>
  </table>

</div>
<br>
<div class="container">
  <!--Container for bottom 3 col Begins-->
  <div class="row">
    <div class="col-sm">
      Leaderboard
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-sm">
      Recently Visted
    </div>
    <div class="col-md-1"></div>
    <div class="col-sm">
      Next Places To-Visit
    </div>
  </div>
</div>
<!--Container for bottom 3 col ends-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>