/*.navbar.navbar-dark.bg-dark{
 change nav bar color
}*/

div {
  overflow: auto;
}

.jumbotron.jumbotron-fluid{
  padding-top: 100px;
  background-image:url(https://images.unsplash.com/photo-1478118330274-ff72cf1161a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: 1945px;
 /*  need to make image in jumbotron smaller or crop*/
}
.display-4 {
  color: #ebde2b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.list-group-item {
  line-height: 2.5;   
}
.toptwo {
  align-content: auto;
  display: block;
  width: 100%;

  /* .clearfix::after {
  content: "";
  clear: both;*/
  
  
}
.row {
  margin: 0px;

}

.leftDiv {
  margin: 0 auto 0 0;
}
.rightDiv {
  margin: 0 0 0 auto;
}

.toptwo {
  align-content: auto;

}
.leftDiv, .rightDiv {
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 12px;
  height: 600px;
  background-attachment: lightblue;
  text-align: center;

}
.col-sm {
  margin-top: 20px;
  border: 2px solid #000;
  height: 50vh;
  text-align: center;
  border-radius: 30px;
  background: lavender;
  box-shadow: 5px 5px 10px grey;
}

a {
  text-decoration: none;
  color: white;
}

/* Map Styling */
#map {
  height: 600px;
  width: 100%;
  margin: auto;
 }

 #map * { 
  overflow: visible;
 }

 #footer {
   height: 400px;
 }

 .userInfo {
  width: 60%;
  height: 40vh;
  margin: 0 auto;
  text-align: center;
  border: 2px solid;
  border-radius: 30px;
  background: antiquewhite;
  box-shadow: 5px 5px 10px grey;
}